.card {
    border: 1px solid #000;
    padding: 1rem;
    width: 250px;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

.card .favorite {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.favorite .on {
    color: red;
}

#figures-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.fa-heart {
    font-size: 1.2rem;
    cursor: pointer;
}