main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

main div {
    padding: 5px;
    color: white;
    background-color: rgb(80, 78, 78);
}